<h1>Hall of Fame</h1>
<br>
<div class="cards-list">
  {{#each movies}}
    <a href="/movies/{{_id}}">
      <div class="card 1">
        <div class="card_image hall-of-fame-img">
          <img
            alt="Poster for {{movie.name}}"
            src="{{poster}}"
            title="{{name}}"
          />
        <div class="title-black">{{increment @index}}. {{name}}</div>
        <div class="card-subtitle">Flick Finder Rating: {{avg_rating}}</div>
        </div>
      </div>
      <br><br><br>
    </a>
  {{/each}}
</div>
</div>

