<h1>Hall of Fame</h1>
<br>
{{#each movies}}
    <div class="hallOfFameDiv">
        <h3>{{increment @index}}.<a href="/movies/{{_id}}">{{name}}</a></h3>
        <img src="{{poster}}" alt="Poster for {{name}}" />
        <p>Flick Finder Rating: {{avg_rating}}</p>
        <p>{{summary}}</p>
    </div>
{{/each}}