<div class="movie">
  <h1>{{movie.name}}</h1>
  <img
    class="thumbnail-item-img"
    alt="Poster for {{movie.name}}"
    src="{{movie.poster}}"
  />
  <br />

  {{#ifEquals role "admin"}}
    <form id="admin-form" action="/movies/edit/{{movie._id}}" method="GET">
      <button type="submit" class="btn btn-primary" value="editDelete">
        <i class="glyphicon glyphicon-pencil"></i>
        Edit / Delete Movie
      </button>
    </form>
  {{/ifEquals}}

   {{#if username}}
    <form id="add-to-watchList-btn" action="/watchlist/{{movie._id}}" method="POST">
      <button type="submit" class="btn btn-primary" value="addToWatchListBtn">
        <i class="glyphicon glyphicon-pencil"></i>
        Add to Watchlist
      </button>
    </form>
  {{/if }}
  <dl>
    <dt>Release date</dt>
    <dd>{{movie.release_date}}</dd>
    <dt>Duration</dt>
    <dd>{{movie.duration}}</dd>
    <dt>Genres</dt>
    {{#each movie.genres}}
      <dd>
        <ul>
          <li>{{this}}</li>
        </ul>
      </dd>
    {{/each}}

    <dt>Cast</dt>
    {{#each movie.cast}}
      <dd>
        <ul>
          <li>{{this}}</li>
        </ul>
      </dd>
    {{/each}}

    <dt>Directors</dt>
    {{#each movie.director}}
      <dd>
        <ul>
          <li>{{this}}</li>
        </ul>
      </dd>
    {{/each}}

    <dt>Summary</dt>
    <dd>{{movie.summary}}</dd>

    <dt>Average Rating</dt>
    <dd>
      <span id="avg_rating" class="rating">{{movie.avg_rating}}</span>
      <span id="total_reviews">
        (out of
        {{movie.reviews.length}}
        reviews)
      </span>
    </dd>

    <dt id="reviewsHeader">Reviews</dt>

    {{#if reviewsWithUserName}}
      <dd id="reviewsPresent">

        {{#if topWordsArray}}
          <div
            class="well well-lg"
            style="font-style: italic; text-align: center; 
                color:#666600; background-color: #eeeeee; border:none"
          >
            <span id="reviewGistTitle" style="text-decoration: underline">Review
              Gist</span>
            <ul id="reviewGist">

              {{#each topWordsArray}}
                <li>{{this}}</li>
              {{/each}}
            </ul>
          </div>
        {{/if}}

        {{#each reviewsWithUserName}}

          {{! Note: Any updates to this must be copied to the createCommentBlock() function }}
          <div class="review_block">
            <span class="review_comment"> {{this.comment}} </span>
            <span class="review_rating">
              Rated:
              <span class="rating">{{this.rating}}</span>
            </span>
            <br />
            <span class="review_author">added by
              {{this.user}}
              on
              {{this.timestamp}}</span>
            <span class="review_likes_and_dislikes">
              <span
                title="{{{this.likes}}}"
                class="review_likes"
                id="likesCount_{{this.commentId}}"
              >
                Likes:
                {{#if this.likes}}
                  {{this.likesCount}}
                {{else}}
                  0
                {{/if}}
              </span>
              <span> | </span>
              <span
                title="{{{this.dislikes}}}"
                class="review_dislikes"
                id="dislikesCount_{{this.commentId}}"
              >
                Dislikes:
                {{#if this.dislikes}}
                  {{this.dislikesCount}}
                {{else}}
                  0
                {{/if}}
              </span>
            </span>
            <p>
              {{#if this.likedByCurrentUser}}
                <span
                  class="review_action"
                  style="color: rgb(160, 60, 0)"
                  id="unlike_{{this.commentId}}"
                >Undo 'Like'</span>
              {{else}}
                <span
                  class="review_action"
                  style="color: rgb(0, 100, 0)"
                  id="like_{{this.commentId}}"
                ><i class="glyphicon glyphicon-thumbs-up"></i> Like</span>
              {{/if}}
              {{#if this.dislikedByCurrentUser}}
                <span
                  class="review_action"
                  style="color: rgb(160, 60, 0)"
                  id="undislike_{{this.commentId}}"
                >Undo 'Dislike'</span>
              {{else}}
                <span
                  class="review_action"
                  style="color: rgb(200, 0, 0)"
                  id="dislike_{{this.commentId}}"
                ><i class="glyphicon glyphicon-thumbs-down"></i> Dislike</span>
              {{/if}}
            </p>
            <div
              id="errorActionDiv_{{this.commentId}}"
              class="alert alert-danger hidden"
              role="alert"
            >
            </div>
          </div>

        {{/each}}
      </dd>
    {{else}}
      <dd id="reviewsAbsent">
        No reviews yet
      </dd>
    {{/if}}

    <dt style="border-bottom: 1px solid #afafaf">Add your review</dt>
    <dd style="margin: 0em; padding-top: 1em;">
      <div id="errorMessageDiv" class="alert alert-danger hidden" role="alert">
      </div>
      <div class="" id="addCommentDiv">
        <form id="reviewForm" name="reviewForm">
          <input
            type="hidden"
            id="movieId"
            name="movieId"
            value={{movie._id}}
          />
          <div class="">
            <label for="ratingInput" style="font-weight: 100; width: 8em;">
              Add rating:
            </label>
            <input
              type="number"
              min="1"
              value="10"
              max="10"
              id="ratingInput"
              style="width: 100%"
            />
          </div>
          <div style="padding-top: 1em">
            <label
              for="textAreaComment"
              style="font-weight: 100; width: 8em; vertical-align: middle;"
            >
              Add a review:
            </label>
            <textarea
              id="textAreaComment"
              style="vertical-align: middle; width:100%"
              rows="3"
              placeholder="Your comment goes here"
            ></textarea>

          </div>
          <div class="">
            <button
              type="submit"
              id="btn-review"
              class="btn btn-primary col-sm-1"
              style="margin-top:2em; padding:1em; width:100%"
            >
              Submit
            </button>
          </div>

        </form>
      </div>
    </dd>
  </dl>
</div>
<script src="/public/js/moviePage.js"></script>