<main>
  <h1>Movies Found</h1>
  <br />

  <h2>Top 10 list of Movies based on your search for `{{searchTerm}}`</h2>
  <br />

  <div class="cards-list">
  {{#each movies}}
    <a href="/movies/{{_id}}">
      <div class="card 1">
        <div class="card_image">
          <img alt="Poster for {{movie.name}}" src="{{poster}}"/>
        </div>
      </div>
      <div class="card_title title-black">
        <p>{{name}}</p>
      </div>
    </a>
  {{/each}}  
  </div>

  <br />
  <br />

  <nav>
    <a href="/" class="back">Make another search</a>
  </nav>
</main>