<h1>Movies Found</h1>
<br />

<h2>We got {{result}} movie(s) when we searched for `{{searchTerm}}`</h2>
<br />

<div class="cards-list">
  {{#each movies}}
    <a href="/movies/{{_id}}">
      <div class="card 1">
        <div class="card_image">
          <img
            alt="Poster for {{movie.name}}"
            src="{{poster}}"
            title="{{name}}"
          />
          <div class="title-black"> {{name}}</div>
        </div>
      </div>
      <br />
    </a>
  {{/each}}
</div>

<br />
<br />

<nav>
  <form action="/" method="GET" class="new-search-form">
    <button class="btn btn-info">
      Make another search
      <i class="glyphicon glyphicon-search"></i>
    </button>
  </form>
</nav>